:root {
    --primary-color: #fff;
    --secondary-color: #FFA542;
    --bcg-color: #EAEAEA;
    font-family: "Montserrat", sans-serif;

}
*, *::before, *::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
}


.container {
    max-width: 1100px;
    margin: 0 auto;
}
.hidden {
    display: none;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}